/* Palette colori */

header{
    height: 150px;
    background-color: #2C3E50;
    max-width: 100%;
}

footer{
    line-height: 80px;
    font-size: 0.8rem;
}

.card-cover{
    width: 200px;

}

img{
    width: 100%;
}

ul{

    border: 1px solid black;
}

/* Utils */

.bg-aqua{
    background-color: #1ABC9C;
}

.aqua{
    color: #1ABC9C;
}

.colour-aqua{
    color: #1ABC9C;
}

.dark-blue{
    color: #2C3E50;
}

.bg-dark-blue{
    background-color: #2c3e50;
}

.img{
    min-height: 200px;
    border:1px solid black;
}

.bg-red{
    background-color: #BA4B63;
}

.bg-light-blue{
    background-color: #1EA4B6;
}

.bg-cyan{
    background-color: #1C83C1;
}

.bg-blue{
    background-color: #0E38B5;
}

.bg-beige{
    background-color: #CCB2A3;
}

.bg-dark-grey{
    background-color: #3A546D;
}

.ellipse{
    border-radius: 25px;
}

.circle{
    border-radius: 50%;
}

i{
    font-size: 30px;
}

.footer-top i{
    font-size: 24px;
}

.footer-bottom  i{
    font-size: 16px;
}